[galaxy]
server_list = private_hub, galaxy

[galaxy_server.private_hub]
url = https://aap.lab.example.com/api/galaxy/content/published/
token = $ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_TOKEN
validate_certs = true

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
validate_certs = true
