<!doctype html>
<html lang="en">
  <head><title>{{ app_name }}</title></head>
  <body>
    <h1>{{ app_name }}</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Port: {{ http_port }}</p>
  </body>
</html>
